@using Microsoft.VisualStudio.Web.CodeGeneration

@{
    ViewData["Title"] = "فراموشی کلمه عبور";
}


@model TopLearn.Core.DTOs.Account.ForgetPasswordByEmailViewModel


<div class="container">



    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">فعال سازی کاربر</li>
        </ul>
    </nav>
</div>



<main class="client-page">
    <div class="container-content">

        <header><h2>بازیابی کلمه عبور</h2></header>


        @if (ViewData["ErrorMeesage"] != null)
        {
            <div class="alert alert-danger text-center">
                <p class="help-block">
                    @ViewData["ErrorMeesage"]
                </p>
            </div>

            <script>
                // Your delay in milliseconds
                var delay = 3000;
                setTimeout(function () { window.location = "https://localhost:5001/ActiveUser"; }, delay);
            </script>

        }
        
        @if (ViewData["SuccessMeesage"] != null)
        {
            <div class="alert alert-success text-center">
                <p class="help-block">
                    @ViewData["SuccessMeesage"]
                </p>
            </div>
            <script>
                // Your delay in milliseconds
                var delay = 3000;
                setTimeout(function () { window.location = "https://localhost:5001/Login"; }, delay);
            </script>
        }

        <div class="form-layer">

            <form asp-action="ForgetPassword" asp-controller="Account" method="post">

                <div class="input-group">
                    <span class="input-group-addon" id="ActiveCode"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" type="text" class="form-control" placeholder="ایمیل خود را وارد کنید" aria-describedby="ActiveCode">
                </div>

                <div asp-validation-summary="All" class="text-danger"> </div>
                <br />
                <input class="btn btn-success" type="submit" value="بازیابی کلمه عبور " />

            </form>
        </div>

    </div>
</main>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}