
@{
    ViewData["Title"] = "ثبت نام";
}

@using TopLearn.Core.DTOs.AccountViewModels;

@model RegisterViewModel


<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">عضویت در سایت</li>
        </ul>
    </nav>
</div>


<main class="client-page">
    <div class="container-content">

        <header>
            <h2>  عضویت در سایت </h2>
        </header>

        <div class="form-layer">

            <form asp-action="Register" asp-controller="Account" method="post">

                <div class="input-group">
                    <span class="input-group-addon" id="username"><i class="zmdi zmdi-account"></i></span>
                    <input asp-for="FullName" type="text" class="form-control" placeholder="نام و نام خانوادگی" aria-describedby="username">
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                
                <div class="input-group">
                    <span class="input-group-addon" id="username"><i class="zmdi zmdi-account"></i></span>
                    <input asp-for="UserName" type="text" class="form-control" placeholder="نام کاربری" aria-describedby="username">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" type="text" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-smartphone"></i></span>
                    <input asp-for="Mobile" type="text" class="form-control" placeholder="تلفن همراه" aria-describedby="tel">
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="Password" class="form-control" placeholder="رمز عبور " aria-describedby="password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="RePassword" class="form-control" placeholder="تایید رمز عبور" aria-describedby="repassword">
                    <span asp-validation-for="RePassword" class="text-danger"></span>
                </div>

                @*<div class="accept-rules">
                        <label><input type="checkbox" name="">  قوانین و مقررات سایت را میپذیرم </label>
                    </div>*@

                <div class="link">
                    @*<a href=""> <i class="zmdi zmdi-assignment"></i> قوانین و مقررات سایت !</a>*@
                    <a href="/Login"> <i class="zmdi zmdi-account"></i> ورود به سایت </a>
                </div>


                @*<button class="btn btn-success"> عضویت در سایت </button>*@

                <input class="btn btn-success" type="submit" value="عضویت در سایت" />

            </form>
        </div>

    </div>
</main>


@section Scripts
{

    <partial name="_ValidationScriptsPartial" />
}
